<%= semantic_form_for @petition do |f| %>
	
	<%= f.inputs do %>
		<%= f.input :asa, :as=>'hidden', :value=>current_user.name %>
		<%= f.input :asa_email, :as=>'hidden', :value=>current_user.email %>
	<fieldset>
	<i class="icon-folder-open"></i>
		<blockquote>
			<h2>the case</h2>
			i am petitioning a case with <label for="petition_ccn">ccn</label> <%= f.input :ccn, :label=>false %>, against <label for="defendant">respondent</label> <input  type="text" name="petition[defendant]" id="defendant" class="span2" value>. the <label for="corespondents">co-respondents</label> are <input type="text" name="petition[corespondents]" id="corespondents" class="span2" value>.
			<br>
			the respondent <label for="defendant_address">lives at</label> <input  type="text" id="defendant_address" name="petition[defendant_address]" class="span3" value>.  he attends <label for="school">school</label> at <input  type="text" name="petition[school]" id="school" class="span2" value>.
			<br>
			the respondent's <label for="dob">dob</label> is <input  type="date" id="dob" name="petitition[dob]" class="span1" value>, and his <label for="parent">parent's</label> name is <input  type="text" name="petition[parent]" id="parent" class="span2" value>.
			<br>
			<small class="pull-right">identifying information</small>
		</blockquote>
	</fieldset>
	
	<i class="icon-user"></i>
	<fieldset>
		<blockquote>
			<h2>the victim</h2>
			in this case, it is alleged that <label for="offense_date">on or about</label> <input  type="text" name="petition[offense_date]" id="offense_date" class="span1" value>, <label for="incident_address">in the area</label> of <input  type="text" name="petition[incident_address]" id="incident_address" class="span2" value>the respondent <label for="victim">victimized</label> <input  type="text" name="petition[victim]" id="victim" class="span2" value>.
			<br>
			the victim <label for="victim_address">lives at</label> <input  type="text" name="petition[victim_address]" id="victim_address" class="span3" value>. <%= f.input :victim_adult_or_minor, :label=>"The victim is a minor." %>
			<br>
			<small class="pull-right">victim information</small>
		</blockquote>
	</fieldset>
	
	<i class="icon-th-list"></i>
	<fieldset>
		<blockquote>
			<h2>the charges</h2>
			these charges were brought by <label for="cpo_name">officer</label> <input type="text" name="petition[cpo_name]" id="cpo_name" class="span2" placeholder="blank if none" value>, <label for="cpo_id">id</label> <input type="text" name="petition[cpo_id]" id="cpo_id" class="span1" value>.  the officer was <label for="assisting_officers">assisted by</label> <input type="text" name="petition[assisting_officers]" id="assisting_officers" class="span3" value>.
			<br>
			here's <label for="statement_of_pc">what happened</label> on that date: <textarea  name="petition[statement_of_pc]" rows="4" id="statement_of_pc" class="span6" value></textarea>
			<br>
			in fairness to the respondent, there is the following <label for="mitigation">mitigating information:</label> <input type="text" name="petition[mitigation]" id="mitigation" class="span6" value>.
			<br>
			<small class="pull-right">charge information</small>
			
		</blockquote>
	</fieldset>

	<i class="icon-zoom-in"></i>
	<fieldset>
		<blockquote>
			<h2>experts</h2>
			for trial, we need to summons the following experts:
				<div class="span2">
					<%= f.input	:chemist %>
					<%= f.input	:pwid %>
					<%= f.input	:tech %>
				</div>
				<div class="span2">
					<%= f.input	:fingerprint %>
					<%= f.input	:examiner %>
					<%= f.input	:counterfeit %>
				</div>
			<br>
			the expert will <label for="expert_content">testify</label> to: <input type="text" name="petition[expert_content]" id="expert_content" value>
			
				
			<small class="pull-right">information on the experts in this case</small>
		</blockquote>
	</fieldset>

	<i class="icon-eye-open"></i>
	<fieldset>
		<blockquote>
			<h2>witnesses</h2>
				this is the <label for="victim_witness_list">witness</label> information, including addresses: <textarea  name="petition[victim_witness_list]" rows="4" id="victim_witness_list" class="span6" value></textarea>
				<br>
			<small class="pull-right">the witnesses</small>
		</blockquote>
	</fieldset>

	<i class="icon-edit"></i>
	<fieldset>
		<blockquote>
			<h2>icon letter</h2>
			<div class="span4">
				<%= f.input	:incident_report %>
				<%= f.input	:statement_of_respondent %>
				<%= f.input	:statement_of_corespondents_etc %>
				<%= f.input	:victim_witness_list %>
			</div>
			<div class="span4">
				<%= f.input	:arrest_report %>
				<%= f.input	:investigation_report %>
				<%= f.input	:accident_report %>
				<%= f.input	:screening_apt %>
			</div>
			<small class="pull-right">icon letter information requested from the officer</small>
		</blockquote>
	</fieldset>
	
	<i class="icon-list"></i>
	<fieldset>
		<blockquote>
			<h2>statements</h2>
				the witness[es] 
					<select name="additional[witness_statement_type_string]" id="witness_statement_type_string" class="span2">
						<option>didn't give a </option>
						<option>gave a written </option>
						<option>gave an oral </option>
					</select> 
				<label for="witness_statement">statement</label>.  the statement was <input type="text" name="petition[witness_statement]" id="witness_statement" class="span4" value>
				<br><br>
				here is the <label for="premerits_id">pre-merits id</label> information: <input type="text" name="petition[premerits_id]" id="premerits_id" class="span4" value>.
				<br><br>
				the respondent 
					<select name="additional[respondent_statement_type_string]" id="respondent_statement_type_string" class="span2">
						<option>didn't give a </option>
						<option>gave a written </option>
						<option>gave an oral </option>
					</select> 
				<label for="respondent_statement">statement</label>.  the statement was <input type="text" name="petition[respondent_statement]" id="respondent_statement" class="span4" value>
				<br>
			<small class="pull-right">statements by respondent/witnesses</small>
		</blockquote>
	</fieldset>
	
	<i class="icon-briefcase"></i>
	<fieldset>
		<blockquote>
			<h2>certified records</h2>
				we will introduce the following certified records: 
				<div class="span6">
					<%= f.input	:medical_records %>
					<%= f.input	:business_records %>
					<%= f.input	:police_records %>
					<%= f.input	:mva_records %>
					<%= f.input	:other_records %>
					<%= f.input	:other_description %>
				</div>
			<small class="pull-right">notices to be provided to defense</small>
		</blockquote>
	</fieldset>
	<% end %>
	
	<%= f.actions do %>
		<button type="submit" class="btn btn-primary">submit petition</button>
	<% end %>
<% end %>

<script>
	$('#offense_date').datepicker({format: 'mm/dd/yyyy'})
			.on('changeDate', function(ev) {
			$('#offense_date').datepicker('hide');
		})
	$('#dob').datepicker({format: 'mm/dd/yyyy'})
			.on('changeDate', function(ev) {
			$('#dob').datepicker('hide');
		})
</script>