<%= javascript_include_tag "check_ccn.js" %>

<%= semantic_form_for @petition, {:html=>{:class=>"form-inline" }} do |f| %>
	
	<%= f.inputs do %>
		<%= f.input :asa, :as=>'hidden', :value=>current_user.name %>
		<%= f.input :asa_email, :as=>'hidden', :value=>current_user.email %>
		<blockquote>
			<div class="row-fluid">
				<%= f.input :email_address, :as=>'string', :placeholder=>current_user.email, :as=>'select', :label=>"Who should be emailed?",  :collection =>
					{"Jackson, Gigi L."=>"GLJackson1@co.pg.md.us", 
					"Robinson, Pamela F."=> "PFRobinson@co.pg.md.us", 
					"Marquart, Cherie C."=> "CCMarquart@co.pg.md.us", 
					"Johnson, Christy S."=> "csjohnson@co.pg.md.us",
					"Jenkins, Akiya L."=> "ALJenkins@co.pg.md.us", 
					@current_user.name=>@current_user.email}
					%>
			</div>
			<div class="row-fluid">
				This petition is <%= f.input :soft_due_date, :as=>"string", :label=>"due to my secretary on", :input_html=>{ :value=>Date.today.to_s} %>, and has a <%= f.input :hard_due_date, :as=>"string", :label=>"final due date of ", :input_html=>{:value=>Date.today.to_s} %>.
			</div>
		</blockquote>
	<fieldset>
	<i class="icon-folder-open"></i>
		<blockquote>
			<h2>the case</h2>
			I am petitioning a case with <%= f.input :ccn, :label=>"CCN", :input_html=>{:class=>"span2"} %><span id="ccn_unique"></span>, against <%= f.input :defendant, :label=>"Respondent", :input_html=>{:class=>"span2"}%><span id="defendant_unique"></span>.  The <%=f.input :corespondents, :label=>"co-respondents are ", :input_html=>{:class=>"span2"} %>.
			
			<br>
			The respondent <%= f.input :defendant_address, :label=>"lives at ", :input_html=>{:class=>"span3"} %>, and <%= f.input :school, :label=>"attends ", :input_html=>{
				:class=>"span2",
				:autocomplete=>"off",
				:data=>{
					:provide=>"typeahead", 
					:items=>'8',
					:source=>'["ACADEMY OF HEALTH SCIENCES AT PGCC", "ACCOKEEK ACADEMY", "ADELPHI ELEMENTARY", "ALLENWOOD ELEMENTARY", "ALTERNATIVE HIGH SCHOOL", "ANDREW JACKSON ACADEMY", "APPLE GROVE ELEMENTARY", "ARDMORE ELEMENTARY", "ARROWHEAD ELEMENTARY", "AVALON ELEMENTARY", "BADEN ELEMENTARY", "BARACK OBAMA ELEMENTARY", "BARNABY MANOR ELEMENTARY", "BEACON HEIGHTS ELEMENTARY", "BELTSVILLE ACADEMY", "BENJAMIN D FOULOIS ACADEMY", "BENJAMIN STODDERT MIDDLE", "BENJAMIN TASKER MIDDLE SCHOOL", "BERWYN HEIGHTS ELEMENTARY", "BLADENSBURG ELEMENTARY", "BLADENSBURG HIGH SCHOOL", "BOND MILL ELEMENTARY", "BOWIE HIGH SCHOOL", "BRADBURY HEIGHTS ELEMENTARY", "BRANDYWINE ELEMENTARY", "BUCK LODGE MIDDLE SCHOOL", "C ELIZABETH RIEG", "CALVERTON ELEMENTARY", "CAPITOL HEIGHTS ELEMENTARY", "CARMODY HILLS ELEMENTARY", "CAROLE HIGHLANDS ELEMENTARY", "CARROLLTON ELEMENTARY", "CATHERINE T REED ELEMENTARY", "CENTRAL HIGH SCHOOL", "CESAR CHAVEZ ELEMENTARY", "CHAPEL FORGE E C C", "CHARLES CARROLL MIDDLE SCHOOL", "CHARLES HERBERT FLOWERS HIGH", "CHEROKEE LANE ELEMENTARY", "CHESAPEAKE MATH AND IT PUBLIC CHARTER SCHOOL", "CHILLUM ELEMENTARY", "CLINTON GROVE ELEMENTARY", "COLUMBIA PARK ELEMENTARY", "COMMUNITY BASED CLASSROOM", "CONCORD ELEMENTARY", "COOL SPRING ELEMENTARY", "COOPER LANE ELEMENTARY", "CORA L RICE ELEMENTARY", "CROOM VOCATIONAL HIGH", "CROSSLAND EVENING HIGH", "CROSSLAND HIGH SCHOOL", "DEERFIELD RUN ELEMENTARY", "DISTRICT HEIGHTS ELEMENTARY", "DODGE PARK ELEMENTARY", "DOSWELL E BROOKS ELEMENTARY", "DR HENRY A WISE, JR HIGH SCHOOL", "DREW FREEMAN MIDDLE SCHOOL", "DUVAL HIGH SCHOOL", "DWIGHT D EISENHOWER MIDDLE SCHOOL", "ELEANOR ROOSEVELT HIGH SCHOOL", "ERNEST EVERETT JUST MIDDLE", "EXCEL ACADEMY", "FAIRMONT HEIGHTS HIGH SCHOOL", "FLINTSTONE ELEMENTARY", "FOREST HEIGHTS ELEMENTARY", "FORESTVILLE HIGH SCHOOL", "FORT FOOTE ELEMENTARY", "FORT WASHINGTON FOREST ELEM", "FRANCES R FUCHS E C C", "FRANCIS SCOTT KEY ELEMENTARY", "FRANCIS T EVANS ELEMENTARY", "FREDERICK DOUGLASS HIGH SCHOOL", "FRIENDLY HIGH SCHOOL", "G JAMES GHOLSON MIDDLE", "GAYWOOD ELEMENTARY", "GLADYS NOON SPELLMAN ELEM", "GLASSMANOR ELEMENTARY", "GLENARDEN WOODS ELEMENTARY", "GLENN DALE ELEMENTARY", "GLENRIDGE ELEMENTARY", "GREEN VALLEY ACADEMY", "GREENBELT ELEMENTARY", "GREENBELT MIDDLE SCHOOL", "GWYNN PARK HIGH SCHOOL", "GWYNN PARK MIDDLE SCHOOL", "H WINSHIP WHEATLEY E C C", "HEATHER HILLS ELEMENTARY", "HIGH BRIDGE ELEMENTARY", "HIGH POINT HIGH SCHOOL", "HIGHLAND PARK ELEMENTARY SCHOOL", "HILLCREST HEIGHTS ELEMENTARY", "HOLLYWOOD ELEMENTARY", "HOWARD B OWENS SCIENCE CENTER", "HYATTSVILLE ELEMENTARY", "HYATTSVILLE MIDDLE SCHOOL", "IMAGINE ANDREWS PUBLIC CHARTER SCHOOL", "IMAGINE FOUNDATIONS I PUBLIC CHARTER SCHOOL", "IMAGINE FOUNDATIONS II PUBLIC CHARTER SCHOOL", "IMAGINE LINCOLN PUBLIC CHARTER SCHOOL", "INDIAN QUEEN ELEMENTARY", "ISAAC J GOURDINE MIDDLE SCHOOL", "J FRANK DENT ELEMENTARY", "JAMES E DUCKWORTH", "JAMES H HARRISON ELEMENTARY", "JAMES MADISON MIDDLE SCHOOL", "JAMES MC HENRY ELEMENTARY", "JAMES RYDER RANDALL ELEMENTARY", "JESSIE B MASON SCHOOL", "JOHN H BAYNE ELEMENTARY", "JOHN HANSON FRENCH IMMERSION", "JOHN HANSON MONTESSORI", "JUDGE SYLVANIA W WOODS SR ELEM", "JUDITH P HOYER MONTESSORI", "KENILWORTH ELEMENTARY", "KENMOOR ELEMENTARY", "KENMOOR MIDDLE SCHOOL", "KETTERING ELEMENTARY", "KETTERING MIDDLE SCHOOL", "KINGSFORD ELEMENTARY", "LAKE ARBOR ELEMENTARY", "LAMONT ELEMENTARY", "LANGLEY PK-MCCORMICK ELEMENTARY", "LARGO HIGH SCHOOL", "LAUREL ELEMENTARY", "LAUREL HIGH SCHOOL", "LEWISDALE ELEMENTARY", "LONGFIELDS ELEMENTARY", "MAGNOLIA ELEMENTARY", "MARGARET BRENT", "MARLTON ELEMENTARY", "MARTIN LUTHER KING JR MIDDLE", "MARY HARRIS MOTHER JONES ELEM", "MATTAPONI ELEMENTARY", "MELWOOD ELEMENTARY", "MONTPELIER ELEMENTARY", "MT RAINIER ELEMENTARY", "NICHOLAS OREM MIDDLE SCHOOL", "NORTH FORESTVILLE ELEMENTARY", "NORTHVIEW ELEMENTARY", "NORTHWESTERN EVENING HIGH", "NORTHWESTERN HIGH SCHOOL", "OAKCREST ELEMENTARY", "OAKLANDS ELEMENTARY", "OVERLOOK ELEMENTARY", "OXON HILL ELEMENTARY", "OXON HILL HIGH SCHOOL", "OXON HILL MIDDLE SCHOOL", "PAINT BRANCH ELEMENTARY", "PANORAMA ELEMENTARY", "PARKDALE HIGH SCHOOL", "PATUXENT ELEMENTARY", "PERRYWOOD ELEMENTARY SCHOOL", "PHYLLIS E WILLIAMS ELEMENTARY", "POINTER RIDGE ELEMENTARY", "PORT TOWNS ELEMENTARY", "POTOMAC HIGH SCHOOL", "POTOMAC LANDING ELEMENTARY", "PRINCETON ELEMENTARY", "RIDGECREST ELEMENTARY", "RIVERDALE ELEMENTARY", "ROBERT FROST ELEMENTARY", "ROBERT GODDARD FRENCH IMMERSION", "ROBERT GODDARD MONTESSORI", "ROBERT R GRAY ELEMENTARY", "ROCKLEDGE ELEMENTARY", "ROGERS HEIGHTS ELEMENTARY", "ROSA PARKS ELEMENTARY", "ROSARYVILLE ELEMENTARY", "ROSE VALLEY ELEMENTARY", "SAMUEL CHASE ELEMENTARY", "SAMUEL OGLE MIDDLE SCHOOL", "SAMUEL P MASSIE ACADEMY", "SCOTCHTOWN HILLS ELEMENTARY", "SEABROOK ELEMENTARY", "SEAT PLEASANT ELEMENTARY", "SKYLINE ELEMENTARY", "SPRINGHILL LAKE ELEMENTARY", "STEPHEN DECATUR MIDDLE SCHOOL", "SUITLAND ELEMENTARY", "SUITLAND HIGH SCHOOL", "SURRATTSVILLE HIGH SCHOOL", "TALL OAKS VOCATIONAL", "TANGLEWOOD SPECIAL CENTER", "TAYAC ELEMENTARY", "TEMPLETON ELEMENTARY", "THOMAS CLAGGETT ELEMENTARY", "THOMAS G PULLEN ACADEMY", "THOMAS JOHNSON MIDDLE SCHOOL", "THOMAS S STONE ELEMENTARY", "THURGOOD MARSHALL MIDDLE SCHOOL", "TULIP GROVE ELEMENTARY", "TURNING POINT ACADEMY", "UNIVERSITY PARK ELEMENTARY", "VALLEY VIEW ELEMENTARY", "VANSVILLE ELEMENTARY", "WALDON WOODS ELEMENTARY", "WALKER MILL MIDDLE SCHOOL", "WHITEHALL ELEMENTARY", "WILLIAM BEANES ELEMENTARY", "WILLIAM PACA ELEMENTARY", "WILLIAM S SCHMIDT OUTDOOR EDUCATION CENTER", "WILLIAM W HALL ACADEMY", "WILLIAM WIRT MIDDLE", "WOODMORE ELEMENTARY", "WOODRIDGE ELEMENTARY", "YORKTOWN ELEMENTARY"]'
					}
				} 
				%>.
			<br>
			The respondent <%= f.input :defendant_dob, :as=>"string", :label=>"was born ", :input_html=>{:class=>"span1", :value=>(Date.today-18.years).to_s} %>, and <%= f.input :parent, :label=>"the parent's name is ", :input_html=>{:class=>"span2"} %>.
			<br>
			<small class="pull-right">identifying information</small>
		</blockquote>
	</fieldset>
	
	<i class="icon-user"></i>
	<fieldset>
		<blockquote>
			<h2>the victim</h2>
			In this case, it is alleged that <%= f.input :offense_date, :label=>"on or about", :as=>"string", :input_html=>{:class=>"span1", :value=>(Date.today-30.days).to_s} %>, <%= f.input :incident_address, :label=>"in the area of ", :input_html=>{:class=>"span2"} %> the respondent <%= f.input :victim, :label=>"victimized ", :input_html=>{:class=>"span2"} %>.  The victim <%= f.input :victim_address, :label=>"lives at", :input_html=>{:class=>"span2"} %>. <%= f.input :victim_adult_or_minor, :label=>"The victim is a minor. (True/False)" %>
			<br>
			<small class="pull-right">victim information</small>
		</blockquote>
	</fieldset>
	
	<i class="icon-th-list"></i>
	<fieldset>
		<blockquote>
			<h2>the charges</h2>
			These charges were brought by <%= f.input :cpo_name, :label=>"Officer ", :input_html=>{:class=>"span2"} %>, <%= f.input :agency, :input_html=>{:class=>"span1"} %> <%= f.input :cpo_id, :label=>"badge ", :input_html=>{:class=>"span1"} %>.  The officer was <%= f.input :assisting_officers, :label=>"assisted by ", :input_html=>{:class=>"span2"} %>.
			<br>
			Here's <%= f.input :statement_of_pc, :label=>"what happened on that date: ", :input_html=>{:class=>"span4", :rows=>"4"} %>
			<br>
			Based on that, I want the Respondent charged with <%= f.input :charges, :label=>"the following (including statute): ", :input_html=>{:class=>"span4", :rows=>"4"}, :placeholder=>"charge(statute), ..." %>
			<br>
			In fairness to the respondent, there is the following <%= f.input :mitigation, :label=>"mitigating circumstances", :input_html=>{:class=>"span3"} %>.
			<br>
			The following searches or seizures happened: <%= f.input :search_and_seizures, :label=>false, :input_html=>{:class=>"span2", :rows=>"2"} %>
			<small class="pull-right">charge information</small>
			
		</blockquote>
	</fieldset>

	<i class="icon-zoom-in"></i>
	<fieldset>
		<blockquote>
			<h2>experts</h2>
			For trial, we need to summons the following experts:
			<br>
				<div class="span4">
					<%= f.input	:chemist %>
					<%= f.input	:pwid %>
					<%= f.input	:tech %>
				</div>
				<div class="span4">
					<%= f.input	:fingerprint %>
					<%= f.input	:examiner %>
					<%= f.input	:counterfeit %>
				</div>
			<br><br>
			The expert will <%= f.input :expert_content, :label=>"testify to:", :input_html=>{:class=>"span4"} %>
			
			<br>
			<small class="pull-right">information on the experts in this case</small>
		</blockquote>
	</fieldset>

	<i class="icon-eye-open"></i>
	<fieldset>
		<blockquote>
			<h2>witnesses</h2>
				Here is <%= f.input :witnesses, :label=>"the victim/witness information (including addresses):", :input_html=>{:class=>"span4", :rows=>"4"} %>
				<br>
			<small class="pull-right">the witnesses</small>
		</blockquote>
	</fieldset>

	<i class="icon-edit"></i>
	<fieldset>
		<blockquote>
			<h2>icon letter</h2>
			<div class="span4">
				<%= f.input	:incident_report %>
				<%= f.input	:statement_of_respondent %>
				<%= f.input	:statement_of_corespondents_etc %>
				<%= f.input	:victim_witness_list %>
			</div>
			<div class="span4">
				<%= f.input	:arrest_report %>
				<%= f.input	:investigation_report %>
				<%= f.input	:accident_report %>
				<%= f.input	:screening_apt %>
			</div>
			<small class="pull-right">icon letter information requested from the officer</small>
		</blockquote>
	</fieldset>
	
	<i class="icon-list"></i>
	<fieldset>
		<blockquote>
			<h2>statements</h2>
			<%= f.input :witness_statement_type_string, 
				:as=>:select, 
				:collection => ["didn't give a", "gave a written ", "gave an oral "], 
				:label=>"The witness[es] ", 
				:input_html=> {:class=>"span2"} %> statement.  If they gave one, 
			<%= f.input :witness_statement, :label=>"the statement was ", :input_html=> {:class=>"span3", :rows=>"2"} %>
				<br><br>
				Here is the <%= f.input :premerits_id, :label=>"premerits ID", :input_html=>{:class=>"span2"} %>.
				<br><br>
			<%= f.input :respondent_statement_type_string, 
				:as=>:select, 
				:collection => ["didn't give a", "gave a written ", "gave an oral "], 
				:label=>"The Respondent ", 
				:input_html=> {:class=>"span2"} %> statement.  If they gave one, 
			<%= f.input :respondent_statement, :label=>"the statement was ", :input_html=> {:class=>"span3", :rows=>"2"} %>
				<br>
			<small class="pull-right">statements by respondent/witnesses</small>
		</blockquote>
	</fieldset>
	
	<i class="icon-briefcase"></i>
	<fieldset>
		<blockquote>
			<h2>certified records</h2>
				<br>
				<div class="span3">
					We will introduce the following certified records: 
				</div>
				<div class="span6">
					<%= f.input	:medical_records %>
					<%= f.input	:business_records %>
					<%= f.input	:police_records %>
					<%= f.input	:mva_records %>
					<%= f.input	:other_records %>
					<br>
					<%= f.input	:other_description %>
				</div>
			<small class="pull-right">notices to be provided to defense</small>
		</blockquote>
	</fieldset>
	<% end %>
	
	<%= f.actions do %>
		<button type="submit" class="btn btn-primary">submit petition</button>
	<% end %>
<% end %>

<script>
	$('.typeahead').typeahead()
	$('#petition_offense_date').datepicker({format: 'yyyy-mm-dd'})
			.on('changeDate', function(ev) {
			$('#petition_offense_date').datepicker('hide');
		})
	$('#petition_defendant_dob').datepicker({format: 'yyyy-mm-dd'})
			.on('changeDate', function(ev) {
			$('#petition_defendant_dob').datepicker('hide');
		})
	$('#petition_soft_due_date').datepicker({format: 'yyyy-mm-dd'})
			.on('changeDate', function(ev) {
			$('#petition_soft_due_date').datepicker('hide');
		})
	$('#petition_hard_due_date').datepicker({format: 'yyyy-mm-dd'})
			.on('changeDate', function(ev) {
			$('#petition_hard_due_date').datepicker('hide');
		})
</script>