<%= semantic_form_for @petition, {:html=>{:class=>"form-inline" }} do |f| %>
	
	<%= f.inputs do %>
		<%= f.input :asa, :as=>'hidden', :value=>current_user.name %>
		<%= f.input :asa_email, :as=>'hidden', :value=>current_user.email %>
		<blockquote>
			<div class="row-fluid">
				<%= f.input :email_address, :as=>'string', :placeholder=>current_user.email, :as=>'select', :label=>"Whom should be emailed?",  :collection =>
					{"Jackson, Gigi L."=>"GLJackson1@co.pg.md.us", 
					"Robinson, Pamela F."=> "PFRobinson@co.pg.md.us", 
					"Marquart, Cherie C."=> "CCMarquart@co.pg.md.us", 
					"Johnson, Christy S."=> "csjohnson@co.pg.md.us",
					"Jenkins, Akiya L."=> "ALJenkins@co.pg.md.us", 
					@current_user.name=>@current_user.email}
					%>
			</div>
			<div class="row-fluid">
				This petition is <%= f.input :soft_due_date, :as=>"string", :label=>"due to my secretary on", :input_html=>{ :value=>Date.today.to_s} %>, and has a <%= f.input :hard_due_date, :as=>"string", :label=>"final due date of ", :input_html=>{:value=>Date.today.to_s} %>.
			</div>
		</blockquote>
	<fieldset>
	<i class="icon-folder-open"></i>
		<blockquote>
			<h2>the case</h2>
			I am petitioning a case with <%= f.input :ccn, :label=>"CCN", :input_html=>{:class=>"span2"} %>, against <%= f.input :defendant, :label=>"Respondent", :input_html=>{:class=>"span2"}%>.  The <%=f.input :corespondents, :label=>"co-respondents are ", :input_html=>{:class=>"span2"} %>.
			
			<br>
			The respondent <%= f.input :defendant_address, :label=>"lives at ", :input_html=>{:class=>"span3"} %>, and <%= f.input :school, :label=>"attends ", :input_html=>{:class=>"span2"} %>.
			<br>
			The respondent <%= f.input :defendant_dob, :as=>"string", :label=>"was born ", :input_html=>{:class=>"span1", :value=>(Date.today-18.years).to_s} %>, and <%= f.input :parent, :label=>"the parent's name is ", :input_html=>{:class=>"span2"} %>.
			<br>
			<small class="pull-right">identifying information</small>
		</blockquote>
	</fieldset>
	
	<i class="icon-user"></i>
	<fieldset>
		<blockquote>
			<h2>the victim</h2>
			In this case, it is alleged that <%= f.input :offense_date, :label=>"on or about", :as=>"string", :input_html=>{:class=>"span1", :value=>(Date.today-30.days).to_s} %>, <%= f.input :incident_address, :label=>"in the area of ", :input_html=>{:class=>"span2"} %> the respondent <%= f.input :victim, :label=>"victimized ", :input_html=>{:class=>"span2"} %>.  The victim <%= f.input :victim_address, :label=>"lives at", :input_html=>{:class=>"span2"} %>. <%= f.input :victim_adult_or_minor, :label=>"The victim is a minor. (True/False)" %>
			<br>
			<small class="pull-right">victim information</small>
		</blockquote>
	</fieldset>
	
	<i class="icon-th-list"></i>
	<fieldset>
		<blockquote>
			<h2>the charges</h2>
			These charges were brought by <%= f.input :cpo_name, :label=>"Officer ", :input_html=>{:class=>"span2"} %>, <%= f.input :agency, :input_html=>{:class=>"span1"} %> <%= f.input :cpo_id, :label=>"badge ", :input_html=>{:class=>"span1"} %>.  The officer was <%= f.input :assisting_officers, :label=>"assisted by ", :input_html=>{:class=>"span2"} %>.
			<br>
			Here's <%= f.input :statement_of_pc, :label=>"what happened on that date: ", :input_html=>{:class=>"span4", :rows=>"4"} %>
			<br>
			Based on that, I want the Respondent charged with <%= f.input :charges, :label=>"the following (including statute): ", :input_html=>{:class=>"span4", :rows=>"4"}, :placeholder=>"charge(statute), ..." %>
			<br>
			In fairness to the respondent, there is the following <%= f.input :mitigation, :label=>"mitigating circumstances", :input_html=>{:class=>"span3"} %>.
			<br>
			The following searches or seizures happened: <%= f.input :search_and_seizures, :label=>false, :input_html=>{:class=>"span2", :rows=>"2"} %>
			<small class="pull-right">charge information</small>
			
		</blockquote>
	</fieldset>

	<i class="icon-zoom-in"></i>
	<fieldset>
		<blockquote>
			<h2>experts</h2>
			For trial, we need to summons the following experts:
			<br>
				<div class="span4">
					<%= f.input	:chemist %>
					<%= f.input	:pwid %>
					<%= f.input	:tech %>
				</div>
				<div class="span4">
					<%= f.input	:fingerprint %>
					<%= f.input	:examiner %>
					<%= f.input	:counterfeit %>
				</div>
			<br><br>
			The expert will <%= f.input :expert_content, :label=>"testify to:", :input_html=>{:class=>"span4"} %>
			
			<br>
			<small class="pull-right">information on the experts in this case</small>
		</blockquote>
	</fieldset>

	<i class="icon-eye-open"></i>
	<fieldset>
		<blockquote>
			<h2>witnesses</h2>
				Here is <%= f.input :witnesses, :label=>"the victim/witness information (including addresses):", :input_html=>{:class=>"span4", :rows=>"4"} %>
				<br>
			<small class="pull-right">the witnesses</small>
		</blockquote>
	</fieldset>

	<i class="icon-edit"></i>
	<fieldset>
		<blockquote>
			<h2>icon letter</h2>
			<div class="span4">
				<%= f.input	:incident_report %>
				<%= f.input	:statement_of_respondent %>
				<%= f.input	:statement_of_corespondents_etc %>
				<%= f.input	:victim_witness_list %>
			</div>
			<div class="span4">
				<%= f.input	:arrest_report %>
				<%= f.input	:investigation_report %>
				<%= f.input	:accident_report %>
				<%= f.input	:screening_apt %>
			</div>
			<small class="pull-right">icon letter information requested from the officer</small>
		</blockquote>
	</fieldset>
	
	<i class="icon-list"></i>
	<fieldset>
		<blockquote>
			<h2>statements</h2>
			<%= f.input :witness_statement_type_string, 
				:as=>:select, 
				:collection => ["didn't give a", "gave a written ", "gave an oral "], 
				:label=>"The witness[es] ", 
				:input_html=> {:class=>"span2"} %> statement.  If they gave one, 
			<%= f.input :witness_statement, :label=>"the statement was ", :input_html=> {:class=>"span3", :rows=>"2"} %>
				<br><br>
				Here is the <%= f.input :premerits_id, :label=>"premerits ID", :input_html=>{:class=>"span2"} %>.
				<br><br>
			<%= f.input :respondent_statement_type_string, 
				:as=>:select, 
				:collection => ["didn't give a", "gave a written ", "gave an oral "], 
				:label=>"The Respondent ", 
				:input_html=> {:class=>"span2"} %> statement.  If they gave one, 
			<%= f.input :respondent_statement, :label=>"the statement was ", :input_html=> {:class=>"span3", :rows=>"2"} %>
				<br>
			<small class="pull-right">statements by respondent/witnesses</small>
		</blockquote>
	</fieldset>
	
	<i class="icon-briefcase"></i>
	<fieldset>
		<blockquote>
			<h2>certified records</h2>
				<br>
				<div class="span3">
					We will introduce the following certified records: 
				</div>
				<div class="span6">
					<%= f.input	:medical_records %>
					<%= f.input	:business_records %>
					<%= f.input	:police_records %>
					<%= f.input	:mva_records %>
					<%= f.input	:other_records %>
					<br>
					<%= f.input	:other_description %>
				</div>
			<small class="pull-right">notices to be provided to defense</small>
		</blockquote>
	</fieldset>
	<% end %>
	
	<%= f.actions do %>
		<button type="submit" class="btn btn-primary">submit petition</button>
	<% end %>
<% end %>

<script>
	$('.typeahead').typeahead()
	$('#petition_offense_date').datepicker({format: 'yyyy-mm-dd'})
			.on('changeDate', function(ev) {
			$('#petition_offense_date').datepicker('hide');
		})
	$('#petition_defendant_dob').datepicker({format: 'yyyy-mm-dd'})
			.on('changeDate', function(ev) {
			$('#petition_defendant_dob').datepicker('hide');
		})
	$('#petition_soft_due_date').datepicker({format: 'yyyy-mm-dd'})
			.on('changeDate', function(ev) {
			$('#petition_soft_due_date').datepicker('hide');
		})
	$('#petition_hard_due_date').datepicker({format: 'yyyy-mm-dd'})
			.on('changeDate', function(ev) {
			$('#petition_hard_due_date').datepicker('hide');
		})
	$(document).ready(function() {
		$('#petition_statement_of_pc').charCount({
			allowed: 255,
			counterText: 'Characters left: '
		});
		});
</script>