

<h1>Sign up</h1>

<div class="well">
<%= semantic_form_for(@user) do |f| %>
	<%= f.inputs do %>
		<%= f.input :name, :label=>'Name?' %>
		<%= f.input :email, :label=>'Email?', :hint=>'This MUST match your county email address' %>
		<%= f.input :title, :label=>'Title?', :collection => titles %>
		<%= f.input :unit, :label=>'Unit?', :collection => units, :hint=>'Pick the most specific unit that applies to you at this time.' %>
		<%= f.input :password, :label=>'Password?' %>
		<%= f.input :password_confirmation, :label=>'Confirm password' %>
		<%= f.input :registration_code, :label=>'Registration Code' %>
	<% end %>
	<%= f.actions do %>
		<%= f.action(:submit) %>
	<% end %>
<% end %>
</div>


