<h1>Sign up</h1>

<%= form_for(@user) do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
	<div class="field">
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<%= f.label :email %><br />
		<%= f.text_field :email %>
	</div>
	<div class="field">
		<% units = {
			'Grand Jury' => 'grand jury',
			'Community Prosecution' => 'community prosecution',
			'DV' => 'DV',
			'Juvenile' => 'juvenile',
			'District Court' => 'district',
			'FTU' => 'FTU',
			'Child Abuse and Sex' => 'child abuse and sex',
			'Violent Crime' => 'violent crime',
			'Motor Vehicle' => 'motor vehicle',
			'Guns and Drugs' => 'guns and drugs',
			'Homicide' => 'homicide',
			'Post-Conviction' => 'postconviction',
			'Special Prosecution' => 'special prosecution'
			} %>
		<%= f.label :unit %><br />
		<%= f.select :unit, units.sort%>
	</div>
	<div class="field">
		<%= f.label :password %><br />
		<%= f.password_field :password %>
	</div>
	<div class="field">
		<%= f.label :password_confirmation, "Confirmation" %><br />
		<%= f.password_field :password_confirmation %>
	</div>
	<div class="actions">
		<%= f.submit "Sign up" %>
	</div>
<% end %>
