<% if current_user.id==@user.id %>
	<div class="hero-unit">
		<h3>This is your user page,</h3><h1> <%=@user.name %></h1>
		<p>Unit: <%=@user.unit%></p>
		<blockquote>
			<p>There isn't much here, but there will be!</p>
			<small>There are many like it, but this is yours.</small>
		</blockquote>
	</div>
<% else %>
	<div class="hero-unit">
		<h3>the user page of</h3><h1><%=@user.name %></h1>
		<p>Unit: <%=@user.unit%></p>
		<blockquote>
			<small>There are many like it, but this is theirs.</small>
		</blockquote>
	</div>
<% end %>

<div class="container-fluid">
	<div class="row-fluid">
		<% if current_user.admin? %>
		<% #ADMIN CONTROLS %>
		<a class="btn btn-danger btn-mini" href="<%= edit_user_path(@user)%>">Edit this User</a>
<% end %>
	</div>
	<div class="span4"
		<h2>Pending ToDo items</h2>
			<div class="row-fluid">
				<table class="table table-condensed table-striped">
					<%= render :partial => 'shared/brief_todo', :collection => @user.pending_todos %>
				</table>
			</div>
	</div>
	<div class="span4"
		<h2>Seven Recent Posts</h2>
			<div class="row-fluid">
				<table class="table table-striped">
					<%= render :partial => 'shared/brief_post', :collection => @recent_posts %>
				</table>
			</div>
	</div>
</div>
