<% if !brief_investigation.nil? %>
	<tr>
		<td>	<%= link_to brief_investigation.defendant, brief_investigation %>	</td>
		<td> 	<%= brief_investigation.arrest_date.to_s %>			</td>
		<td> 	<%= link_to brief_investigation.casenumber, brief_investigation.get_casefile %>				</td>
		<td> 	<%= brief_investigation.initial_appearance.to_s %>	</td>
		<td> 	<%= brief_investigation.preliminary_hearing.to_s %>	</td>
		<td> 	<%= brief_investigation.district_date.to_s %>		</td>
		<td> 	<%= brief_investigation.victim.to_s %>				</td>
		<td> 	<%= brief_investigation.incident_date.to_s %>		</td>
		<td> 	<%= brief_investigation.address.to_s %>				</td>
		<td> 	<%= brief_investigation.synopsis %>					</td>
		<td>	<%= brief_investigation.current_status %> 			</td>

		<% if current_user.admin? %>
				<td>	
				<%= link_to "delete", brief_investigation, 	:method => :delete, 
													:confirm => "You sure?",
													:class => "btn btn-mini",
													:title => "delete this investigation"
													%>							
				</td>
		<%end%>
	</tr>
<% else %>
	<%= brief_investigation %>
<% end %>
