<div id="todoModal_<%=brief_todo.id%>" class="modal modal-form hide fade autowidth" style="display: none; ">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">x</a>
		<h3>New duedate?</h3>
	</div>
	<div class="modal-body">
		<%= semantic_form_for brief_todo do |f| %>
			<%= f.semantic_errors %>
			<%= f.inputs do %>
				<div class="input-append date" id="todoitem_duedate_<%=brief_todo.id%>" data-date="<%= (brief_todo.duedate+14).to_s %>" data-date-format="yyyy-mm-dd">
					<input type="text" id="duedate" value="<%= brief_todo.duedate.to_s %>" readonly class="span2" name="todoitem[duedate]">
					<span class="add-on">
						<i class="icon-th"></i>
					</span>
					<span class="help-inline">Due</span>
				</div>
			<% end %>
			<%= f.actions do %>
				<%= f.action(:submit) %>
			<% end %>
		<% end %>
	</div>
</div>	


<tr>
	<td>	
		<%= link_to brief_todo.casenumber.to_s, brief_todo.retrieve_casefile %>
		<% if !brief_todo.complete %>
			<% 
			code_string="label-mini disabled"
			label_string="due in "
			case brief_todo.daysleft
				when 0..1
					code_string+=" label-important"
				when 2..4
					code_string+=" label-warning"
				when 5..7
					code_string+=""
			end %>
			<% if brief_todo.daysleft>0 %>
				<span class="label <%=code_string %>"> <%=label_string+" "+brief_todo.daysleft.to_s+" on "+brief_todo.duedate.to_s %></span>
			<% else %>
				<span class="label label-important">OVERDUE</span>
			<% end %>
		<% end %>
		<%=brief_todo.content%>
		<% if brief_todo.complete %>
			<em>
		<% end %>
		
		<% if brief_todo.complete %>
			</em>
		<% end %> by <%= link_to brief_todo.user.name, brief_todo.user %> 			
			<% if current_user?(brief_todo.user) || current_user.admin? %>
				<a class="btn btn-mini btn-inverse" href=<%= delete_task_path(brief_todo.id)%>>
						<i class="icon-remove icon-white"></i>
				</a>
				<% if !brief_todo.complete %>
					<a class="btn btn-mini" href=<%=update_task_path(brief_todo.id, :complete=>"true")%>>
						<i class="icon-ok"></i>
					</a>
					<a data-toggle="modal" class="btn btn-mini" href="#todoModal_<%=brief_todo.id%>">
						postpone
					</a>
				<% else %>
					<i class="icon-ok"></i><button class="btn btn-mini disabled">complete</button>
				<% end %>
			<% end %>
			

	</td>
</tr>

<script>
	$('#todoitem_duedate_<%=brief_todo.id%>').datepicker()
		.on('changeDate', function(ev) {
			$('#todoitem_duedate_<%=brief_todo.id%>').datepicker('hide');
		})
</script>