<tr>
	<td>
	<blockquote>
	<p>
	<%= feed_item.content_and_tags %>
	</p>
	<small>	<%= link_to feed_item.user.name, feed_item.user %></small>

	
	<small> Posted <%= time_ago_in_words(feed_item.created_at) %> ago. in <%= link_to feed_item.defendant, feed_item.get_casefile %>
		<% if current_user?(feed_item.user) || current_user.admin? %>
			<i class="icon-remove"></i><button class="btn btn-mini"><%= link_to "delete", feed_item, 	
												:method => :delete, 
												:confirm => "You sure?", 
												:title => feed_item.content
												%></button>
		<% end %>
	</small>
	</blockquote>
	</td>
</tr>
