<% dob_label="Defendant DOB?" %>
<% if current_user.unit=="juvenile"	
	dob_label= "Respondent DOB?"
	end %>

<% juvenile_categories = {
			'screening' => 'screening',
			'continuance' => 'continuance',
			'writ' => 'writ',
			'merits hearing' => 'trial',
			'plea deal (incl. stet)' => 'plea',
			'decline to prosecute' => 'dtp',
			'acquittal' => 'acquittal',
			'dismissal' => 'dismissal'
			} 
		grandjury_categories = {
			'screening' => 'screening',
			'charged' => 'charged',
			'returned for investigation' => 'RFI',
			'declined to prosecute' => 'dtp'
			}
		circuit_categories = {
			'preliminary hearing'=>'ph',
			'sent to district court'=>'dcwl',
			'screening'=>'screening',
			'trial'=>'trial',
			'plea deal (incl. stet)'=>'plea',
			'nolle prosequi'=>'dtp',
			'acquittal'=>'acquittal',
			'bench warrant'=>'bench warrant',
			'other'=>'other',
			'Broadcast Notice'=>'notice',
			'NCIC'=>'NCIC',
			'search warrant'=>'search warrant',
			'subpoeana issued'=>'subpoena issued'
			}
		community_categories = {
			'community need identified'=>'community need identified',
			'suspect assigned to attorney'=>'assigned'
			}
		postconviction_categories = {
			'corum nobis' => 'corum nobis',
			'appeal filed' => 'appeal filed',
			'appeal rejected' => 'appeal rejected',
			'verdict overturned' => 'verdict overturned'
			} 
		specialprosecution_categories = {
			'suspect suggested'=>'new suspect',
			'suspect rejected'=>'suspect rejected'
			}
		if current_user.unit.eql?("juvenile")
			list=juvenile_categories.sort
		elsif current_user.unit.eql?("grand jury")
			list=grandjury_categories.merge(circuit_categories).sort
		elsif current_user.unit.eql?("community prosecution")
			list=community_categories.merge(circuit_categories).sort
		elsif current_user.unit.eql?("postconviction")
			list=postconviction_categories.merge(circuit_categories).sort
		elsif current_user.unit.eql?("special prosecution")
			list=specialprosecution_categories.merge(circuit_categories).sort
		else
			list=circuit_categories.sort
		end %>
		
<div class="well">	
	<%= semantic_form_for @micropost do |f| %>
		<%= f.semantic_errors %>
		<%= f.inputs do %>
			<%= f.input :content, :as=>'text', :input_html => {:class => 'autogrow', :rows=>3, :placeholder=>'[respondent name], [text of event]'}, :label=>'What happened?'%>
			<%= f.input :casenumber, :label=>'Case number?', :placeholder=>'CR..., CT..., JA..., etc.' %>
			<%= f.input :adf, :label=>'Defense Attorney', :placeholder=> 'Lastname, Firstname' %>
			<%= f.input :dob, :as=>'string', :label=>dob_label, :placeholder=>'DD/MM/YYYY' %>
			<%= f.input :event_date, :as=>'string', :label=>'Event date?', :placeholder=>'DD/MM/YYYY' %>
			<%= f.input :category, :label=>'Category?', :collection => list %>
		<% end %>
		<%= f.actions do %>
			<%= f.action(:submit) %>
		<% end %>
	<% end %>
</div>