<% dob_label="Defendant DOB?" %>
<% if current_user.unit=="juvenile"	
	dob_label= "Respondent DOB?"
	end %>

<% juvenile_categories = {
			'screening' => 'screening',
			'continuance' => 'continuance',
			'writ' => 'writ',
			'merits hearing' => 'trial',
			'plea deal (incl. stet)' => 'plea',
			'decline to prosecute' => 'dtp',
			'acquittal' => 'acquittal',
			'dismissal' => 'dismissal',
			'waiver-up' => 'waiver up'
			} 
		grandjury_categories = {
			'screening' => 'screening',
			'charged' => 'charged',
			'returned for investigation' => 'RFI',
			'declined to prosecute' => 'dtp'
			}
		circuit_categories = {
			'preliminary hearing'=>'ph',
			'sent to district court'=>'dcwl',
			'screening'=>'screening',
			'trial'=>'trial',
			'plea deal (incl. stet)'=>'plea',
			'nolle prosequi'=>'dtp',
			'acquittal'=>'acquittal',
			'bench warrant'=>'bench warrant',
			'other'=>'other',
			'Broadcast Notice'=>'notice',
			'NCIC'=>'NCIC',
			'search warrant'=>'search warrant',
			'subpoeana issued'=>'subpoena issued',
			'waiver down to juvenile'=>'waiver down'
			}
		community_categories = {
			'community need identified'=>'community need identified',
			'suspect assigned to attorney'=>'assigned'
			}
		postconviction_categories = {
			'corum nobias' => 'corum nobis',
			'appeal filed' => 'appeal filed',
			'appeal rejected' => 'appeal rejected',
			'verdict overturned' => 'verdict overturned'
			} 
		specialinvestigation_categories = {
			'suspect suggested'=>'new suspect',
			'suspect rejected'=>'suspect rejected'
			}
		if current_user.unit.eql?("juvenile")
			list=juvenile_categories.sort
		elsif current_user.unit.eql?("grand jury")
			list=grandjury_categories.merge(circuit_categories).sort
		elsif current_user.unit.eql?("community prosecution")
			list=community_categories.merge(circuit_categories).sort
		elsif current_user.unit.eql?("postconviction")
			list=postconviction_categories.merge(circuit_categories).sort
		elsif current_user.unit.eql?("special investigation")
			list=specialinvestigation_categories.merge(circuit_categories).sort
		else
			list=circuit_categories.sort
		end %>
		
<div class="well">	
	<%= semantic_form_for @micropost do |f| %>
		<%= f.semantic_errors %>
		<%= f.inputs do %>
			
			<%= f.input :defendant, :as=>'string', :input_html => {:placeholder=>'[defendant]'} %>
			<%= f.input :content, :as=>'text', :input_html => {:class => 'autogrow', :rows=>3, :placeholder=>'[text of event]'}, :label=>'What happened?'%>
			<%= f.input :category, :label=>'Category?', :collection => list %>
			<%= f.input :casenumber, :label=>'Case number?', :placeholder=>'CR..., CT..., JA..., etc.',%>
			
			<div class="input">
				<label>ADF:</label>	
				<input type="text" 
					class="span3" 
					id="micropost_adf"
					name="micropost[adf]"
					data-provide="typeahead" 
					data-items="4" 
					data-source='["Jones, Debra", "Gupta, Kavita", "Johnson, Lyvette", "Josendale, Erin", "Saccarelli, Gale", "Whitehall, Beatrix", "Wilson, Monica", "Peek, Leslie", "Abdullah, Raouf", "Edwards, Christal", "Okeke, Loretta", "Powell, Greg", "Pride-Hebron, Kelly", "Shelton, Bill", "Uba-Okarafor, Vivent", "Mungin, Vaughn", "Handy, Ronald", "Ucheomunu, Andrew", "Moore, Sonya", "Azari, Omid"]'>
				
			</div>
			
			<div class="input-append date" id="micropost_dob" data-date="<%= Date.today.years_ago(18).to_s %>" data-date-format="yyyy-mm-dd">
				<input type="text" value="<%= Date.today.years_ago(18).to_s %>" readonly class="span2" name="micropost[dob]">
				<span class="add-on">
					<i class="icon-th"></i>
				</span>
				<span class="help-inline">DOB</span>
			</div>
			
			<div class="input-append date" id="micropost_event_date" data-date="<%= Date.today.to_s %>" data-date-format="yyyy-mm-dd">
				<input type="text" value="<%= Date.today.to_s %>" readonly class="span2" name="micropost[event_date]">
				<span class="add-on">
					<i class="icon-th"></i>
				</span>
				<span class="help-inline">when?</span>
			</div>
		<% end %>
		<%= f.actions do %>
			<%= f.action(:submit) %>
		<% end %>
	<% end %>
</div>

<script>
	$('.typeahead').typeahead()
	$('#micropost_dob').datepicker()
	$('#micropost_event_date').datepicker()
</script>