<% dob_label= "Respondent DOB?" %>
		
<div class="well">	
	<%= semantic_form_for @micropost do |f| %>
		<%= f.semantic_errors %>
		<%= f.inputs do %>
			
			<%= f.input :defendant, :as=>'string', :input_html => {:placeholder=>'[defendant]'} %>
			<%= f.input :content, :as=>'text', :input_html => {:class => 'autogrow', :rows=>3, :placeholder=>'[text of event]'}, :label=>'What happened?'%>
			<%= f.input :category, :label=>'Category?', :collection => post_categories %>
			<%= f.input :casenumber, :label=>'Case number?', :placeholder=>'CR..., CT..., JA..., etc.',%>
			
			<div class="input">
				<label>ADF:</label>	
				<input type="text" 
					class="span3" 
					id="micropost_adf"
					name="micropost[adf]"
					data-provide="typeahead" 
					data-items="4" 
					data-source='["Jones, Debra", "Gupta, Kavita", "Johnson, Lyvette", "Josendale, Erin", "Saccarelli, Gale", "Whitehall, Beatrix", "Wilson, Monica", "Peek, Leslie", "Abdullah, Raouf", "Edwards, Christal", "Okeke, Loretta", "Powell, Greg", "Pride-Hebron, Kelly", "Shelton, Bill", "Uba-Okarafor, Vivent", "Mungin, Vaughn", "Handy, Ronald", "Ucheomunu, Andrew", "Moore, Sonya", "Azari, Omid"]'>
				
			</div>
			
			<%= f.input :dob, :as=>'string', :label=>'DOB', :input_html=>{ :class=>'span2', :value=>(Date.today-18.years).to_s } %>
			<%= f.input :event_date, :as=>'string', :label=>'Event Date', :input_html=>{ :class=>'span2', :value=>(Date.today).to_s } %>

			
		<% end %>
		<%= f.actions do %>
			<%= f.action(:submit) %>
		<% end %>
	<% end %>
</div>

<script>
	$('.typeahead').typeahead()
	$('#micropost_dob').datepicker({format: 'yyyy-mm-dd'})
		.on('changeDate', function(ev) {
			$('#micropost_dob').datepicker('hide');
		})
	$('#micropost_event_date').datepicker({format: 'yyyy-mm-dd'})
			.on('changeDate', function(ev) {
			$('#micropost_event_date').datepicker('hide');
		})
	$(document).ready(function() {
		$('#micropost_content').charCount({
			allowed: 255,
			counterText: 'Characters left: '
		});
	});
</script>