<tr>
	<td>	<%= post_item.event_date.to_s %> 	</td>
	<td>	<%= post_item.defendant.to_s %>			</td>
	<td>	<%= link_to post_item.casenumber, post_item.get_casefile %>			</td>
	<td>	<%= link_to post_item.user.name, post_item.user %> 			</td>
	<td>	<%= post_item.unit %>			</td>
	<td>	<%= post_item.user.email %> 		</td>
	<td>	<%= post_item.dob.to_s %> 			</td>
	<td>	<%= post_item.adf %> 				</td>
	<td>	<%= post_item.category %> 			</td>
	<td>	<%= post_item.content %> 			</td>
	<td>	<%= post_item.created_at.to_s %> 	</td>
	<td>	<%= post_item.gang %>			</td>
	<td>	<%= post_item.jail.to_s %>			</td>
	<td>	<%= post_item.suspended_time.to_s %>	</td>
	<td>	<%= post_item.probation %>		</td>
	<td>	<%= post_item.communityservice %>	</td>
	<td>	<%= post_item.judge %>			</td>
	<td>	<%= post_item.leadcharge %>	</td>
	<td>	<%= post_item.convictedcharges %>	</td>
	<td>	<%= post_item.enhanced %>		</td>
	<td>	<%= post_item.guidelines_top %> - <%= post_item.guidelines_bottom %>m</td>
	<td>	<%= post_item.aba %> </td>
	<td>	<%= post_item.teamleader %>	</td>
	<td>	<%= post_item.victims.to_s %></td>
	<td>	<% if current_user?(post_item.user) || current_user.admin? %>
				<%= link_to "delete", post_item, 	:method => :delete, 
													:confirm => "You sure?"
													%>
			<% end %>							
			</td>
</tr>
	