<%
if current_user.admin?
	user_list = User.all.collect {|p| [p.name_comma, p.id] }
else
	user_list = User.where(:unit=>current_user.unit).collect {|p| [p.name_comma, p.id] } 
end
%>

<div class="well">	
	<%= semantic_form_for @todoitem do |f| %>
		<%= f.semantic_errors %>
		<%= f.inputs do %>
			<%= f.input :content, :as=>'text', :input_html => {:class => 'autogrow', :rows=>3, :placeholder=>'[text of event]'}, :label=>'Task?'%>
			<%= f.input :casenumber, :as=>'hidden', :value=>@casefile.lead_casenumber %>
				
			<div class="input-append date" id="todoitem_duedate" data-date="<%= (Date.today+14).to_s %>" data-date-format="yyyy-mm-dd">
				<input type="text" value="<%= (Date.today+14).to_s %>" readonly class="span2" name="todoitem[duedate]">
				<span class="add-on">
					<i class="icon-th"></i>
				</span>
				<span class="help-inline">Due</span>
			</div>
			<div class="accordion" id="assignments">
				<div class="accordion-group'">
					<div class="accordion-heading">
						<a class="accordion-toggle btn btn-small" data-toggle="collapse" data-parent="assigments" data-target="#collapseOne">
							Assign to another user?
						</a>
					</div>
					<div id="collapseOne" class="collapse in">
						<div class="accordion-inner">
							<%= f.input :user_id, :label=>'Assign to?', :as=>'select', :collection=>user_list.sort %>
						</div>
					</div>
				</div>
			</div>
		<% end %>

		<a href="#" class="btn btn-inverse" data-dismiss="modal">Close</a>
		<input class="action input_action btn btn-primary" id="todo_submit_action" name="commit" type="submit" value="Save">
	<% end %>
</div>

<script>
	$('#todoitem_duedate').datepicker()
		.on('changeDate', function(ev) {
			$('#micropost_dob').datepicker('hide');
		})
	$(".collapse").collapse()
</script>