<% dob_label="Defendant DOB?" %>
<% if current_user.unit=="juvenile"	
	dob_label= "Respondent DOB?"
	end %>
		
<div class="span6">	
	<%= semantic_form_for @micropost do |f| %>
		<%= f.semantic_errors %>
		<%= f.inputs do %>
			<%= f.input :defendant, :as=>'hidden', :value=>@casefile.defendant %>
			
			<div class="input">
				<label>What is it?</label>
				<textarea
					class="span3"
					id="plea_content"
					rows="3"
					placeholder="What is the deal?"
					name="micropost[content]"></textarea>
			</div>
			<%= f.input :category, :as=>'hidden', :input_html => { :value=>'plea' } %>
			<%= f.input :casenumber, :as=>'hidden', :value=>@casefile.lead_casenumber %>
			
			<%= f.input :leadcharge %>
			
			<div class="input">
				<label>Defense attorney:</label>	
				<input type="text" 
					class="span3" 
					id="micropost_adf"
					autocomplete="off"
					name="micropost[adf]"
					data-provide="typeahead" 
					data-items="4" 
					data-source='["Jones, Debra", "Gupta, Kavita", "Johnson, Lyvette", "Josendale, Erin", "Saccarelli, Gale", "Whitehall, Beatrix", "Wilson, Monica", "Peek, Leslie", "Abdullah, Raouf", "Edwards, Christal", "Okeke, Loretta", "Powell, Greg", "Pride-Hebron, Kelly", "Shelton, Bill", "Uba-Okarafor, Vivent", "Mungin, Vaughn", "Handy, Ronald", "Ucheomunu, Andrew", "Moore, Sonya", "Azari, Omid"]'>
			</div>
			
			<% if !@petitions.nil? %>
				<div class="input-prepend input-append date" id="plea_dob" data-date="<%= Date.today.years_ago(18).to_s %>" data-date-format="yyyy-mm-dd">
					<span class="add-on">DOB:</span><input type="text" value="<%= @petitions.first.defendant_dob %>" readonly class="span2" name="micropost[dob]"><span class="add-on"><i class="icon-th"></i></span>
				</div>
			<% else %>
				<div class="input-prepend input-append date" id="plea_dob" data-date="<%= Date.today.years_ago(18).to_s %>" data-date-format="yyyy-mm-dd">
					<span class="add-on">DOB</span><input type="text" value="<%= Date.today.years_ago(18).to_s %>" readonly class="span2" name="micropost[dob]"><span class="add-on"><i class="icon-th"></i></span>
				</div>
			<% end %>
			
			<div class="input-prepend input-append date" id="plea_event_date" data-date="<%= Date.today.to_s %>" data-date-format="yyyy-mm-dd">
				<span class="add-on">When?</span><input type="text" value="<%= Date.today.years_ago(18).to_s %>" readonly class="span2" name="micropost[event_date]"><span class="add-on"><i class="icon-th"></i></span>
			</div>
		<% end %>
		<div class="form-actions">
			<a href="#" class="btn btn-inverse" data-dismiss="modal">Close</a>
			<input class="action input_action btn btn-primary" id="micropost_submit_action" name="commit" type="submit" value="Save">
		</div>
	<% end %>
</div>

<script>
	$('.typeahead').typeahead()
	$('#plea_dob').datepicker()
		.on('changeDate', function(ev) {
			$('#plea_dob').datepicker('hide');
		})
	$('#plea_event_date').datepicker()
			.on('changeDate', function(ev) {
			$('#plea_event_date').datepicker('hide');
		})
	$(document).ready(function() {
		$('#plea_content').charCount({
			allowed: 255,
			counterText: 'Characters left: '
		});
	});
</script>