<tr>
	<td>	<%= report_item.event_date.to_s %> 	</td>
	<td>	<%= report_item.user.name %> 		</td>
	<td>	<%= report_item.user.email %> 		</td>
	<td>	<%= report_item.user.unit %>		</td>
	<td>	<%= report_item.defendant %>		</td>
	<td>	<%= report_item.dob.to_s %> 		</td>
	<td>	<%= report_item.adf %> 				</td>
	<td>	<%= report_item.category %> 		</td>
	<td>	<%= report_item.content %> 			</td>
	<td>	<%= report_item.created_at.to_s %> 	</td>
</tr>