<%
if current_user.admin? || current_user.supervisor? || current_user.support?
	user_list = User.all.collect {|p| [p.name_comma, p.id] }
else
	user_list = User.where(:unit=>current_user.unit).collect {|p| [p.name_comma, p.id] } 
end
%>

<div class="well">	
	<%= semantic_form_for @todoitem do |f| %>
		<%= f.semantic_errors %>
		<%= f.inputs do %>
			<%= f.input :content, :as=>'text', :input_html => {:class => 'autogrow', :rows=>3, :placeholder=>'[text of event]'}, :label=>'Task?'%>
			
			<%= f.input :casenumber, :label=>'Case number?', :placeholder=>'CR..., CT..., JA..., etc.'%>
			<%= f.input :precomplete, :as=>:boolean,  :label=>'Mark already completed?' %>
			<%= f.input :duedate, :as=>'string', :label=>"Due on?", :input_html=>{:class=>"span2", :value=>(Date.today+14).to_s} %>
			
			<%= f.input :user_id, :label=>"Assign to", :as=>'select', :collection=>user_list %>
		<% end %>
		<%= f.actions do %>
			<%= f.action(:submit) %>
		<% end %>
	<% end %>
</div>

<script>
	$('#todoitem_duedate').datepicker({format: 'yyyy-mm-dd'})
		.on('changeDate', function(ev) {
			$('#todoitem_duedate').datepicker('hide');
		})
	$(".collapse").collapse()
	$(document).ready(function() {
		$('#todoitem_content').charCount({
			allowed: 255,
			counterText: 'Characters left: '
		});
	});
</script>