 <% if signed_in? %>
	<h1>Search results for <%=@searchstring %></h1>
	<%= will_paginate @casefiles %>
	<%= render :partial => 'shared/casesearch' %>

		<table class="table table-striped table-bordered table-condensed">
		<tr>
			<td>Defendant</td>
			<td>CCN</td>
			<td>CR</td>
			<td>CA</td>
			<td>CJ</td>
			<td>JA</td>
			<td>CT</td>
			<td>SAO</td>
			<td>Edit</td>
			<% if current_user.admin? %>
				<td>Delete Button</td>
			<% end %>
		</tr>
		<tr>
			<% if !@casefiles.count[0].nil? %>
				<%= render :partial => 'shared/case_item', :collection => @casefiles %>
			<% end %>
		</tr>
	</table>
	<%= will_paginate @casefiles %>

<% else %>
	<%= render :partial => 'shared/not_signed_in' %>
<% end %>