<% user_list = User.all.collect {|p| [p.name, p.id] } %>

<div id="micropostModal" class="modal modal-form hide fade autowidth" style="display: none; ">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">x</a>
		<h3>Quick-add event in this case</h3>
	</div>
	<div class="modal-body">
		<%= render 'shared/quick_micropost_form' %>
	</div>
</div>

<div id="todoModal" class="modal modal-form hide fade autowidth" style="display: none; ">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">x</a>
		<h3>Quick-add todo in this case</h3>
	</div>
	<div class="modal-body">
		<%= render 'shared/quick_todo_form' %>
	</div>
</div>

<div id="callModal" class="modal modal-form hide fade autowidth" style="display: none; ">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">x</a>
		<h3>Quick-add call in this case</h3>
	</div>
	<div class="modal-body">
		<%= render 'shared/quick_call_form' %>
	</div>
</div>	

<div id="pleaModal" class="modal modal-form hide fade autowidth" style="display: none; ">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">x</a>
		<h3>Quick-add plea in this case</h3>
	</div>
	<div class="modal-body">
		<%= render 'shared/quick_plea_form' %>
	</div>
</div>	

<div id="continuanceModal" class="modal modal-form hide fade autowidth" style="display: none; ">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">x</a>
		<h3>Quick-add continuance in this case</h3>
	</div>
	<div class="modal-body">
		<%= render 'shared/quick_continuance_form' %>
	</div>
</div>	

<% if signed_in? %>
	<div class="container-fluid">
		<h1>Case file for <%=@casefile.defendant %></h1>
	<table class="table table-striped table-bordered table-condensed">
		<tr>
			<td>Defendant</td>
			<td>CCN</td>
			<td>CR</td>
			<td>CA</td>
			<td>CJ</td>
			<td>JA</td>
			<td>CT</td>
			<td>SAO</td>
			<td>Edit</td>
			<% if current_user.admin? %>
				<td>Delete Button</td>
			<% end %>
		</tr>
		<tr>
			<td>	<%= link_to @casefile.defendant, @casefile %>	</td>
			<td>	<%= @casefile.ccn %> 		</td>
			<td>	<%= @casefile.cr %> 		</td>
			<td>	<%= @casefile.ca %> 		</td>
			<td>	<%= @casefile.cj %> 		</td>
			<td>	<%= @casefile.ja %> 		</td>
			<td>	<%= @casefile.ct %> 		</td>
			<td>	<%= @casefile.sao %> 		</td>
			<td>	<%= link_to "edit", edit_case_path(@casefile),
					:method => :edit,
					:class => "btn btn-mini" %>	</td>
			<% if current_user.admin? %>
					<td>	
					<a class="btn btn-mini btn-inverse" href=<%= delete_casefile_path(@casefile.id)%>>
						<i class="icon-remove icon-white"></i>
					</a>														
					</td>
			<%end%>
		</tr>
	</table>
	
	<% if !@investigation.nil? %>
		<div class="row-fluid">
			<h3> Review the <%= link_to "investigation file", @investigation %> </h3>
		</div>
	<% end %>
	
	<% if !@petitions.nil? %>
		<% @petitions.each do |petition| %>
			<div class="row-fluid">
				<h3>Review the petition for <%= petition.defendant %> <%= link_to "here", petition %></h3>
				<blockquote>
					<%= petition.full_pc %>
				</blockquote>
			</div>
		<% end %>
	<% end %>
	
		<div class="row-fluid">
			<h3> What needs to be done:</h3>
		</div>
		<div class="row-fluid">
			<div class="span12">
				<a data-toggle="modal" href="#todoModal" class="btn btn-primary">Do Something</a>
				<table class="table table-striped">
					<%= render :partial => 'shared/brief_todo', :collection => @todos %>
				</table>
			</div>
		</div>
		
		<div class="row-fluid">
			<h3> What's happened: </h3>
		</div>
		<div class="span12">
			<div class="btn-group">
				<a class="btn btn-primary" href="#micropostModal" data-toggle="modal">Did Something</a>
				<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="#callModal" data-toggle="modal">
							<i class="icon-user"></i>
							Call
						</a>
					</li>
					<li>
						<a href="#pleaModal" data-toggle="modal">
							<i class="icon-ok"></i>
							Plea
						</a>
					</li>
					<li>
					<a href="#continuanceModal" data-toggle="modal">
						<i class="icon-th"></i>
						Continuance
					</a>
					</li>
				</ul>
			</div>
			<div class="row-fluid">
				<table class="table table-striped">
					<%= render :partial => 'shared/brief_post', :collection => @microposts %>
				</table>		
			</div>
		</div>

	</div>
<% else %>
	<%= render 'shared/introstub' %>
<% end %>
<div>

<script>
	$('#todoitem_duedate').datepicker()
	$(".collapse").collapse()
	$(document).ready(function() {
		$('#micropost_content').charCount({
			allowed: 255,
			counterText: 'Characters left: '
		});
	});
</script>