<% if signed_in? %>
	<h1>All Casefiles</h1>
<%= render :partial => 'shared/casesearch' %>

<%= will_paginate @casefiles %>
	<table class="table table-striped table-bordered table-condensed">
		<tr>
			<td>Defendant</td>
			<td>CCN</td>
			<td>CR</td>
			<td>CA</td>
			<td>CJ</td>
			<td>JA</td>
			<td>CT</td>
			<td>SAO</td>
			<td>Edit</td>
			<% if current_user.admin? %>
				<td>Delete Button</td>
			<% end %>
		</tr>
		<tr>
			<%= render :partial => 'shared/case_item', :collection => @casefiles %>
		</tr>
	</table>
<%= will_paginate @casefiles %>
<% else %>
	<%= render 'shared/introstub' %>
<% end %>