<% if signed_in? %>
	<h1>All Posts</h1>
	
	<%= will_paginate @posts %>
	<table class="table table-striped table-bordered table-condensed">
		<%= render :partial => 'shared/post_table' %>
		<tbody>
			<%= render :partial => 'shared/post_item', :collection => @posts %>
		</tbody>
	</table>
	
	<%= will_paginate @posts%>
<% else %>
	<%= render 'shared/introstub' %>
<% end %>