		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<a class="brand" href="<%= post_path %>">justEvents</a>
						<div class="nav-collapse">
							<ul class="nav">
								<li>
									<form class="navbar-search" action="/casefiles" method="get">
										<input id="search" name="search" type="text" class="input-small search-query" placeholder="Casenumber?">
									</form>
								</li>
								<% if signed_in? %>
									<li class="dropdown" id="NewMenu">
										<a class="dropdown-toggle" data-toggle="dropdown" href="#">New</a>
										<ul class="dropdown-menu">
											<li class="active"><%= link_to "Case event (e.g dispo)", post_path %></li>
											<li><%= link_to "Call", calls_path %></li>
											<li><%= link_to "Todo", todoitems_path %></li>
											<li><%= link_to "Petition", new_petition_path %></li>
										</ul>
									</li>
									<li class="dropdown" id="ListMenu">
										<a class="dropdown-toggle" data-toggle="dropdown" href="#">Show</a>
										<ul class="dropdown-menu">
											<li><%= link_to "Cases", cases_path %></li>
											<li><%= link_to "Posts", posts_path %></li>
											<li><%= link_to "Current Events", current_events_path %></li>
											<li><%= link_to "Petitions", petitions_path %></li>
										</ul>
									</li>
									<li class="dropdown" id="UserMenu">
										<a class="dropdown-toggle" data-toggle="dropdown" href="#">You</a>
										<ul class="dropdown-menu">
											<li><%= link_to "Profile", current_user %></li>
											<li><%= link_to "Edit", edit_user_path(current_user) %></li>
										</ul>
									</li>
									<li class="divider-vertical"></li>
									<li><%= link_to "Sign Out", signout_path, :method => :delete %></li>
									<% if current_user.admin?||current_user.supervisor? %>
										<li class="dropdown" id="AdminMenu">
											<a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin</a>
											<ul class="dropdown-menu">
												<li><%= link_to "Users", users_path %></li>
												<li><%= link_to "Reports", reports_path %></li>
											</ul>
										</li>
									<% end %>
								<% else %>
									<li><%= link_to "Sign in", signin_path %></li>
								<% end %>
							</ul>
						</div><!--/.nav-collapse -->
				</div>
			</div>
		</div>
<script>
	$(function () {
		$(".dropdown-toggle").dropdown()
		})
</script>

