<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<%= render 'layouts/stylesheets' %>
		<%= javascript_include_tag "application" %>
		<%= javascript_include_tag "charCount.js" %>
		
		
		
		<%= csrf_meta_tag %>
	</head>
	<body>
		<%= render 'layouts/header' %>
		<%= render 'layouts/messages' %>
		<%= yield %>
		<%= render 'layouts/footer' %>
	</body>
</html>